body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('assests/images/black.jpg') center/cover no-repeat;
  overflow: hidden; 
}

.App {
  text-align: left;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0px;
  position: relative;
  overflow-y: scroll; 
}

.hello-message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 50% 30px; /* Adjust the values as needed */
  border-bottom-right-radius: 50% 30px; /* Adjust the values as needed */
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
  z-index: 10000;
}

.App.hide-hello-message .hello-message-container {
  transform: translateY(-100%); 
}

.transparent-toolbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; 
  background-color: rgba(0, 0, 0, 0.0);
  color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}

.transparent-toolbar h1 {
  margin: 0;
  font-size: 2em;
  max-width: 50%;
}

.transparent-toolbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;

}

.transparent-toolbar a:hover {
  color: #ffd700;
}

.transparent-toolbar .logo {
  font-weight: bold;
  font-size: 28px;
}

.transparent-toolbar .navigation {
  display: flex;
  max-width: 50%;

}

.transparent-toolbar .navigation a:last-child {
  margin-right: 0;
}

/* ... existing styles ... */

/* about me */
/* Add the following styles to your existing CSS */

/* Add the following styles to your existing CSS */
.about-me-icon-container {
  position: absolute;
  top: 35%; /* Adjust the top position */
  right: 47vw; /* Adjust the right position */
  display: flex;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

.about-me-icon {
  width: 150px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.about-me-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 50%;
  height: 80vh; /* Adjust the value as needed */
  overflow-y: auto; /* Add this line */
  background-color: rgba(66, 62, 62, 0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.about-me-icon-container:hover .about-me-popup {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.search-bar {
  margin-bottom: 10px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #FFD1DC;
  border-radius: 4px;
  outline: none;
}

.divider {
  display: flex;
  flex-direction: column; /* Change from row to column */
}

.icon {
  margin-bottom: 10px;
  text-align: center; /* Center the content horizontally */
}

.icon p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #c09a9a;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}

.icon img {
  border-radius: 100%; /* Create a circular shape */
  width: 120px;
  height: 140px; /* Ensure equal width and height for a perfect circle */
  object-fit: cover; /* Maintain aspect ratio */
  border: 3px solid #fff; /* Border color for a circle effect */
}

/* Additional styling for the circular container */
.icon-circle {
  width: 126px; /* Adjust the size as needed (width + 2 * border-width) */
  height: 126px; /* Adjust the size as needed (height + 2 * border-width) */
  border-radius: 100%;
  overflow: hidden; /* Clip the content to the circular shape */
  border: 3px solid #000000; /* Border color for the circular container */
  display: inline-block; /* Make it inline-block to fit the circle */
  position: relative;
}
.remaining-space {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.section {
  flex: 1; /* Distribute remaining space equally among sections */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.section h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: pink;
  
}

.skill {
  background-color: #f5f5f5;
  padding: 10px; /* Increase padding for better spacing */
  margin: 5px; /* Add margin for separation */
  border-radius: 8px;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex; /* Align icon horizontally */
  align-items: center;
}

.skill:hover {
  background-color: #ccc;
}



/*education */
/* Add the following styles to your existing CSS */

/* education */
.education-icon-container {
  position: absolute;
  top: 40%; /* Adjust the top position */
  left: 10%; /* Adjust the left position */
  display: flex;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

.education-icon {
  width: 200px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.education-popup {
  position: absolute;
  top: 50%;
  left: calc(10% + 200px); /* Adjust the left position to be next to the icon */
  transform: translate(-50%, -50%) scale(0.8);
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  background-color: rgba(66, 62, 62, 0.9); /* Adjust the color and transparency as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.education-icon-container:hover .education-popup {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.education-input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust the margin as needed */
  
}

.education-input-row:hover {
  background-color: #968b8b82; /* Change to the color you want */
  opacity: 1; /* Adjust the opacity as needed */
  /* Add any other styling you want for the hover state */
}

.education-details {
  font-size: 16px;
  color: #fff; /* Adjust the color as needed */
  padding: 15px;
}

.education-details .title {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff; /* Gold color for the title */
}

.education-details .institution {
  font-style: italic;
  color: #a8dadc; /* Light teal color for the institution */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

.education-details .institution:hover {
  color: #00bfff; /* Light blue color on hover */
}

.education-details .location {
  margin-top: 5px;
  color: #f4a261; /* Light orange color for the location */
}

.coursework-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Adjust the margin as needed */
  
}

.coursework {
  background-color: #f4f4f4; /* Adjust the background color as needed */
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 5px; /* Adjust margin as needed */
  border-radius: 5px; /* Adjust border-radius as needed */
  font-size: 14px; /* Adjust font-size as needed */
  color: #333; /* Adjust font color as needed */
}
/* Add the following styles for the hover effect */
.coursework:hover {
  background-color: #ddd; /* Adjust the hover background color as needed */
  color: #555; /* Adjust the hover font color as needed */
  transform: scale(1.1); /* Add a scale effect on hover */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add smooth transition on hover */
}





/*work*/
.work-icon-container {
  position: absolute;
  top: 40%; /* Adjust the top position */
  right: 10%; /* Adjust the right position */
  display: flex;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

.work-icon {
  width: 200px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.work-popup {
  position: absolute;
  top: 50%;
  left: calc(90% - 200px); /* Adjust the left position to be next to the icon */
  transform: translate(-50%, -50%) scale(0.8);
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Set a maximum height for the popup */
  overflow-y: 80%; /* Add a vertical scrollbar when content exceeds the height */
  
  background-color: rgba(66, 62, 62, 0.9); /* Adjust the color and transparency as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


/* Title Bar Styles */
.work-popup-title {
  background-color: transparent;/* Adjust the color as needed */
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff; /* Text color for the title bar */
}
.work-popup:hover {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


.work-icon-container:hover .work-popup {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Work History Styles */
.work-input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust the margin as needed */
  background-color: #2c3e50; /* Background color for the work history row */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 8px; /* Rounded corners */
}

.work-history {
  color: #fff; /* Text color for work history details */
}

.workplace-name {
  font-size: 20px; /* Highest font size for company name */
  font-weight: bold; /* Bold font for company name */
  margin-bottom: 5px; /* Add spacing between elements */
}

.workplace-title, 
.workplace-location,
.duration,
.duties {
  font-size: 16px; /* Font size for other details */
  margin-bottom: 5px; /* Add spacing between elements */
}

/* Duties List Styles */
.duties-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.duties-list-item {
  margin-bottom: 5px;
  color: #ecf0f1; /* Text color for each duty item */
}

/* Hover Effect for Work History Row */
.work-input-row:hover {
  background-color: #34495e; /* Darker background color on hover */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}




/*project Section*/
.project-section {
  background-color: #1b1a1a;
  height: auto;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
}

.project-box {
  width: 80%;
  height: auto;
  
  background-color: #444040;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 1% 1% 20px;
}

.project-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.1); /* Move left and up by 20px */
}

.video-container,
.text-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.video-container video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}



/* Add this style for the image container */
.image-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden; /* Hide any overflow to maintain border-radius */
}

.image-container img {
  width: 100%; /* Set a fixed width relative to the viewport width */
  height: 30vh; /* Set a fixed height relative to the viewport height */
 
  border-radius: 10px; /* Same border-radius as the container */
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-container p {
  margin: 0; /* Remove default paragraph margin */
  font-size: 1.5vw;
}

.project-name {
  color: #E5E4E2; /* Set the color for the project name */
  font-size: 24px; /* Set the font size for the project name */
}

.project-description {
  color: #0dd3d3; /* Set the color for the project description */
  font-size: 0.9vw; /* Set the font size for the project description */
  text-align: left; /* Align text to the left */
  margin-top: 10px; /* Add top margin for spacing */
  font-family: sans-serif; /* Specify a font-family */
}
.project-description li {
  margin-bottom: 8px; /* Add bottom margin between list items */
}




.about-section {
  background-color: #1b1a1a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px; /* Add padding to the bottom and sides for better spacing */
}

.about-section p{
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #E5E4E2;
  text-align: center;
  
}


.social-icons {
  display: flex;
  margin-bottom: 10px; /* Adjust as needed */
}

.social-icon {
  color: #fff;
  font-size: 40px;
  margin-right: 40px;
  text-decoration: none;
}

.about-content img {
  height: 50vh;
  width: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its natural size */
}



@media (max-width: 768px) {
  .transparent-toolbar .navigation {
    flex-direction: column;
    align-items: center;
  }

  .transparent-toolbar a {
    margin: 10px 0;
  }
}


@media (max-width: 768px) {
 


  .about-me-icon-container,
  .education-icon-container,
  .work-icon-container {
    display: none;
  }

  .project-box {
    width: 100%;
    margin: 1% 0 20px;
  }
  
  .project-box:hover {
    transform: none;
  }

  .project-description {
    font-size: 1vw; /* Adjust font size for smaller screens */
    margin-top: 8px; /* Adjust top margin for spacing */
  }

  .project-description li {
    margin-bottom: 6px; /* Adjust bottom margin between list items */
  }

  
  .image-container {
    border-radius: 0;
    
  }
  .image-container img{
    height: 10vh;
  }

  .about-section p {
    font-size: 20px;
  }

  .social-icons {
    flex-direction: row;
    justify-content: center;
  }

  .social-icon {
    margin-right: 20px;
  }

  .about-content img {
    height: auto;
    max-width: 100%;
  }
}



